<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist 서비스</title>
</head>
<body>
    <h1><%=title %></h1>
    <h3><%=subtitle %></h3>
    <hr />
    <h3>서비스 목록</h3>
</body>
</html>
